CC_USERNAME=thoriq
CC_PASSWORD=change-me-to-a-long-random-login-password
CC_RETENTION_DAYS=7
CC_STORAGE_MAX_GB=5
CC_PINNED_MAX_GB=1
CC_MIN_FREE_DISK_GB=2
CC_LOG_LEVEL=info
CC_TRUSTED_PROXIES=127.0.0.0/8,::1/128,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,fc00::/7
